.offerWrapper {
    margin: 0 auto 150px auto;
    max-width: 1200px;
    display: flex;
    gap: 82px;

}

.offerContent {
    max-width: 386px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-start;
}

.offerContent h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #232727;
}

.offerContent p {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #232727;

}

.offerContent li:not(:last-child) {
    margin-bottom: 60px;
}

.imgWrapper {
    width: 630px;
    height: 550px;
    position: relative;
}

.mainImg {
    position: relative;
    width: 630px;
    height: 550px;
    z-index: 1;
    border-radius: 10px;
}

.topImg {
    position: relative;
    z-index: 2;
    bottom: 681px;
    right: -249px;
    border-radius: 10px;
}

.backImg {
    position: relative;
    z-index: -1;
    bottom: 263px;
    right: -126px;
}

.bottomImg {
    position: relative;
    z-index: 2;
    bottom: 326px;
    right: -34px;
    border-radius: 10px;
}


@media (max-width: 1250px) {
    .offerWrapper {
        padding: 0 16px;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 100px;
    }

    .imgWrapper {
        width: 343px;
        height: 367px;
        position: relative;
    }

    .topImg {
        display: none;
    }

    .backImg {
        display: none;
    }

    .mainImg {
        width: 343px;
        height: 367px;
        object-fit: cover;
        border-radius: 7px;
    }

    .bottomImg {
        bottom: 96px;
        right: -13px;
        border-radius: 10px;
    }

}

@media (max-width: 838px) {
    .offerWrapper {
        flex-direction: column;
        align-items: center;
    }

    .imgWrapper {
        margin-bottom: 24px;
    }
    .offerContent li:not(:last-child) {
        margin-bottom: 24px;
    }

}
@media (max-width: 446px) {
    .offerWrapper {
        align-items: flex-start;
    }

}
