.btn{
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.small{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}
.medium{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.btn:disabled{
    background: #EEF5FC;
    color: #ABBED1;
    border:none
}
.btn:focus{
    outline: 1px solid #232727;

}

.blue{
    background-color:  #357EFE;
    color:#fff;
    border: none;
}
.blue:hover{
    background-color: #1760E1;


}

.white{
    background-color: #ffffff;
    border: 1px solid rgba(30, 30, 30, 0.5);
    color: #232727;
}
.white:hover{
    border: 1px solid #357EFE;
}

