.forumPoster{
    width: 100%;
    background-color: #357EFE;
    min-height: 340px;
    background-image: url("./../../assets/ForumPoster_front.png"),url("./../../assets/ForumPoster_back.png");
    background-repeat: no-repeat;
    background-position: left 10% top 0, left 3% top 0;
}
.posterContainer{
    margin: 0 auto;
    max-width: 1200px;
    min-height: 340px;
    display: flex;
    align-items: center;



}
.posterContent{
    display: flex;
    flex-direction: column;
    max-width: 447px;
    margin-left: 50%;
    align-items: flex-start;
}

.title{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-bottom: 8px;
}
.text{
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #FFFFFF;
    margin-bottom: 30px;
}