
.title {
    text-align: center;
    font-weight: 600;
    font-size: 36px;
    line-height: 115.8%;
    margin-bottom: 50px;
}

.main_container {
    margin: 0 auto 125px auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap:20px
}

.container {
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(4, min-content);
    grid-template-columns: 590px;


}
@media (max-width: 1250px){
    .main_container{
        padding: 0 16px;
    }
    .container {
        grid-template-columns: 343px;
    }
}

@media (max-width: 793px){
    .main_container {
        margin: 0 auto 100px auto;
        flex-wrap: wrap;
        justify-content: center;
    }
    .title{
        font-size: 28px;
        line-height: 34px;
    }
}


