
.footerWrapper {
    background: #F6F6FA;
    width: 100%;
    padding-top: 80px;
}

.footerContent {
    margin: 0 auto 65px auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 102px);
    grid-template-areas:
'L N N'
'S N N';
}

.footerLogo {
    width: 190px;
    grid-area: L;
}

.soc {
    grid-area: S;
    align-self: end;
}

.footerNav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-area: N;

}

.soc_link {
    display: flex;
    max-width: 162px;
    justify-content: space-between;
    margin-top: 21px;

}

.soc_link a {
    color: white;
}

.vkIcon:hover {
    fill: #2b2ee2;
}

.tgIcon:hover {
    fill: #12bbad;
}

.ytIcon:hover {
    fill: #b60523;
}

.footerNav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.product h4, .categories h4 {
    margin-bottom: 25px;
}

.footerNav ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 50px;
}
.categories{
    margin-left: 10px;
}
.product{
    margin-left: 110px;
}
.footerNav li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #232727;
}

.product li:not(:first-child), .categories li:not(:first-child), .next li {
    margin-bottom: 15px;

}

.footerInfoPanel {
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #E5E5EA;
    min-height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hub {
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    color: #AEAEB2;
}

.InfoPanelwrapper {
    display: flex;
    max-width: 424px;
    gap: 50px;
    padding-right: 10px;
}

.InfoPanelwrapper p {
    font-weight: 500;
    font-size: 14px;
    line-height: 135%;
    text-align: right;
    color: #232727;

}

@media (max-width: 1250px) {
    .footerContent {
        padding: 0 16px;
        justify-content: space-around;
    }

    .footerNav ul {
        margin-left: 30px;

    }

    .footerInfoPanel {
        padding: 0 16px;
    }
}
@media (max-width: 926px) {
    .footerNav ul{
        margin-right: 0;
 }
}

@media (max-width: 700px) {
    .footerWrapper {
        padding-top: 50px;
    }

    .footerContent {
        grid-template-columns:  1fr 1fr;
        grid-template-rows:90px 250px 100px;
        grid-template-areas:
     'L .'
     'N N'
     'S .';
    }

    .footerNav {
        align-self: start;

    }

}

@media (max-width: 500px) {
    .footerWrapper {
        padding-top: 50px;
    }

    .footerContent {
        margin: 0 auto 50px auto;
        grid-template-columns:  1fr 1fr;
        grid-template-rows:90px 392px 100px;
        grid-template-areas:
     'L .'
     'N N'
     'S .';
    }

    .categories {
        order: 3;
    }

    .product {
        order: 6;
    }

    .next {
        order: 6;
    }
    .footerInfoPanel {
        padding-top: 40px;
        padding-bottom: 24px;
        display: block;
    }
    .InfoPanelwrapper {
        display: block;

    }
    .InfoPanelwrapper p {
        text-align: left;
        margin-bottom: 12px;

    }
    .hub{
        margin-bottom: 18px;
    }

}
@media (max-width: 462px) {
    .footerNav ul{
      margin-left: 0;

    }
    .footerContent {
        padding: 0 0 0 16px;
        margin-right: -6px;
    }

}




