ul.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.nav li:not(:last-child){
    padding-right: 50px;

}
.nav li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: #232727;
}



@media (max-width: 882px) {
 ul.nav{
     display: none;
 }

}